<!DOCTYPE html>
<html>
<head>
    <title>Wufio</title>
    <meta charset="utf-8" />
    <link href="../img/dog-icon.png" rel="icon" type="image/svg" />
    <link href="../bower_components/foundation/css/foundation.min.css" rel="stylesheet" />
    <link href="../bower_components/foundation/css/normalize.min.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
</head>
<body>
    
        <div class="row">
            <div class="medium-6 medium-centered large-5 large-centered columns">

                <form>
                    <div class="row column log-in-form">
                        <h4 class="text-center">Log in to Wufio </h4>
                        <label>
                            Username
                            <input type="text" placeholder="Username">
                        </label>
                        <label>
                            Password
                            <input type="text" placeholder="Password">
                        </label>
                        <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
                        <p><a href="#" type="submit" class="button expanded background-teal">Log In</a></p>
                        <p class="text-center color-navy"><a href="#">Forgot your password?</a></p>
                    </div>
                </form>

            </div>
        </div>
 
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="bower_components/spin.js/jquery.spin.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.min.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/loading-bar/jquery.loadingbar.min.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/spin.js/spin.min.js"></script>
</body>
</html>
