
<div class="clearfix">
    <div class="nav-side-left" style="padding: 4px;">
        <h2 class="align-center">Favorites</h2>
        <div class="panel panel-default font-nunito  home-panel" ng-repeat="animal in data.favoriteAnimals">
                
            <div class="panel-body padding-right-0 padding-top-0">
                <p>
                    <a class="glyphicon glyphicon-remove pull-right padding-0 margin-0" ng-click="unlikeAnimal(animal)"></a>
                </p>
                <p>
                    <img ng-src="{{animal.image}}" class="pull-right fav-img img-thumbnail" />
                </p>
                <p>
                    <label>{{animal.name}}</label>
                    <label>{{animal.age}}</label>
                    <label>{{animal.gender ? 'Male' : 'Female'}}</label>
                </p>
                        
                <p>
                        
                    <a class="btn btn-default btn-sm  background-navy color-light-grey rescue-button padding-left-10" href="#" role="button">View Rescue</a>
                        
                        
                </p>
            </div>
        </div>
    </div>

    <div class="nav-middle">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="animal in data.allAnimals">
            <div class="panel panel-default font-nunito  home-panel" style="height: 425px; min-height: 425px; max-height: 425px;" >
                <div class="panel-body margin-0">
                    <img ng-src="{{animal.image}}" class="panel-img center-block img-thumbnail" />
                    <div class="spacer10"></div>
                    <p><strong>NAME: <span>{{animal.name}}</span></strong></p>
                    <p><strong>AGE: <span>{{animal.age}}</span></strong></p>
                    <p><strong>GENDER: <span>{{animal.gender ? 'Male' : 'Female'}}</span></strong></p>
                    <p><strong>ABOUT: <span>{{animal.about}}</span></strong></p>
                    <p>
                        <a class="btn btn-default margin-top-15 background-navy color-light-grey rescue-button padding-left-10" href="#" role="button">View Rescue</a>
                        <a class="like fi-heart font-size-40 color-teal padding-0 margin-0 pull-right padding-right-10" ng-click="likeAnimal(animal)" ng-class="{active: animal.liked}"></a>
                    </p>
                </div>
            </div>
        </div>

    </div>



    <div class="nav-side-right">
        <h2 class="align-center">Search</h2>
        <div class="input-group center-block search align-center">
            <input type="text" class="form-control" placeholder="Zipcode" aria-describedby="basic-addon1">

            <div class="spacer50"></div>
            <label>Radius(Miles)</label>

            <select class="form-control">
                <option>Any</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <div class="spacer50"></div>
            <label>Animal Type</label>
            <select class="form-control">
                <option>Any</option>
                <option>Dog</option>
                <option>Cat</option>
            </select>
            <div class="spacer50"></div>
            <label>Gender</label>
            <select class="form-control">
                <option>Any</option>
                <option>Male</option>
                <option>Female</option>
            </select>
            <div class="spacer50"></div>
            <label>Age Range</label>
            <select class="form-control">
                <option>Any</option>
                <option>Under 1 year</option>
                <option>1 to 2 years</option>
                <option>3 to 4 years</option>
                <option>5 to 6 years</option>
                <option>7 to 8 years</option>
                <option>9 to 10 years</option>
                <option>11+</option>
            </select>

            <div>
                <div class="spacer20"></div>
                <button type="button" class="btn btn-default btn-lg btn-block inputButton">Go!</button>
            </div>

        </div>
    </div>


</div>
